/** Custom styling for account sidebar (mirrors admin collapsed behavior) */

/* Admin UI sidebar styles */
.pf-v5-c-page__sidebar.pf-m-collapsed {
    max-width: 5rem;
}

/* HIDE SECTION TITLES */
.pf-v5-c-page__sidebar.pf-m-collapsed .pf-v5-c-nav__section-title,
.pf-v5-c-page__sidebar.pf-m-collapsed .pf-v5-c-nav__group-title,
.pf-v5-c-page__sidebar.pf-m-collapsed .kc-nav-label {
    display: none;
}

/* ICONS */
.pf-v5-c-page__sidebar.pf-m-collapsed .kc-nav-icon svg {
    width: 1rem;
    height: 1rem;
}
