/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260305.0.0.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/page-nav.css" --revert
 */

.pf-v5-c-page__sidebar.pf-m-collapsed {
    max-width: 5rem;
}

/* HIDE SECTION TITLES */
.pf-v5-c-page__sidebar.pf-m-collapsed .pf-v5-c-nav__section-title,
.pf-v5-c-page__sidebar.pf-m-collapsed .pf-v5-c-nav__group-title,
.pf-v5-c-page__sidebar.pf-m-collapsed .kc-nav-label {
    display: none;
}

/* ICONS */
.pf-v5-c-page__sidebar.pf-m-collapsed .kc-nav-icon svg {
    width: 1rem;
    height: 1rem;
}
