img._brand_gdli4_10 {
    height: 50px;
}

.keycloak__form {
    max-width: 1024px;
    padding-bottom: var(--pf-v5-global--spacer--4xl);
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: baseline;
    accent-color: var(--primary);
}

.keycloak__form_actions {
    position: fixed;
    bottom: 0px;
    background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
    padding-top: var(--pf-v5-global--spacer--md);
    padding-bottom: var(--pf-v5-global--spacer--sm);
    padding-left: var(--pf-v5-global--spacer--md);
    width: 100%;
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
    margin-left: calc(-1 * var(--pf-v5-global--spacer--lg));
}

.keycloak__section_intro__help {
    padding: var(--pf-v5-global--spacer--md) 0 var(--pf-v5-global--spacer--lg);
    color: var(--pf-v5-global--primary-color--100);
    width: fit-content;
}

div.w-tc-editor {
    font-family: "ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace";
}

:root {
    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.646 0.222 41.116);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.75 0.183 55.934);
    --chart-1: oklch(0.837 0.128 66.29);
    --chart-2: oklch(0.705 0.213 47.604);
    --chart-3: oklch(0.646 0.222 41.116);
    --chart-4: oklch(0.553 0.195 38.402);
    --chart-5: oklch(0.47 0.157 37.304);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.646 0.222 41.116);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.75 0.183 55.934);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.705 0.213 47.604);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.408 0.123 38.172);
    --chart-1: oklch(0.837 0.128 66.29);
    --chart-2: oklch(0.705 0.213 47.604);
    --chart-3: oklch(0.646 0.222 41.116);
    --chart-4: oklch(0.553 0.195 38.402);
    --chart-5: oklch(0.47 0.157 37.304);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.408 0.123 38.172);
}

/* NAVBAR */
.pf-v5-c-masthead.pf-m-display-inline {
    background-color: var(--sidebar);
    border-bottom: 1px solid var(--border);
}
.pf-v5-c-masthead .pf-v5-c-toolbar {
    background-color: var(--sidebar);
}
.pf-v5-c-menu-toggle__text {
    color: var(--sidebar-foreground);
}
.kc-nav-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
}
.kc-nav-icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* ICONS */
.pf-v5-svg {
    fill: var(--primary);
}
a[target="_blank"] .pf-v5-svg,
a[target="_blank"].pf-v5-svg {
    fill: var(--pf-v5-global--link--Color);
}

/* SIDEBAR */
.pf-v5-c-page__sidebar {
    padding: 8px;
    background-color: var(--sidebar);
    border-right: 1px solid var(--border);
}
.pf-v5-c-nav__link,
.pf-v5-c-nav__section-title {
    color: var(--sidebar-foreground);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}
.pf-v5-c-nav__link.pf-m-current {
    background-color: var(--primary);
    border-radius: var(--radius);
    /* padding: 8px 24px; */
}
.pf-v5-c-nav__link {
    padding: 0;
}
.kc-nav-link-content {
    padding: 8px 24px;
}
.pf-v5-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-v5-c-nav__link {
    background-color: var(--primary);
    fill: var(--primary-foreground);
}
.pf-v5-c-nav__link.pf-m-current:hover {
    background-color: var(--primary);
}
.pf-v5-c-nav__link:hover {
    background-color: var(--primary-foreground);
    color: var(--primary);
    border-radius: var(--radius);
}
.pf-v5-c-nav__section-title {
    border-block-end: 1px solid var(--border);
}
.pf-v5-c-nav__link.pf-m-current .kc-nav-icon svg {
    fill: var(--primary-foreground);
}
.pf-v5-c-nav__link.pf-m-current::after {
    border: none;
}
.pf-v5-c-nav__link::after,
.pf-v5-c-nav__link::before {
    border: none;
}
.pf-v5-c-nav__item.pf-m-expandable::before {
    border: none;
}
.kc-nav-link-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* BUTTON */
.pf-v5-c-button {
    border-radius: var(--radius);
}
.pf-v5-c-button.pf-m-primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
}
.pf-v5-c-menu-toggle {
    border-radius: var(--radius);
}
.pf-v5-c-button.pf-m-link {
    color: var(--primary);
}
.pf-v5-c-menu-toggle.pf-m-primary {
    --pf-v5-c-menu-toggle--BackgroundColor: transparent;
}

/* BADGE */
.pf-v5-c-label {
    background-color: var(--primary-foreground);
    border-color: var(--primary);
}
.pf-v5-c-label__content {
    border-color: var(--primary);
    color: var(--primary);
}
.pf-v5-c-label.pf-m-blue {
    --pf-v5-c-label__content--before--BorderColor: var(--primary-foreground);
}

/* TABS */
.pf-v5-c-tabs__link::before {
    border: none;
}
.pf-v5-c-tabs__link::after {
    border: none;
}
.pf-v5-c-tabs__link {
    border-radius: var(--radius) var(--radius) 0 0;
    color: var(--foreground);
}
.pf-v5-c-tabs__item.pf-m-current .pf-v5-c-tabs__link {
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--radius) var(--radius) 0 0;
}

/* LINKS */
.pf-v5-c-table__td a {
    color: var(--primary);
}
.pf-v5-c-table__td a[target="_blank"] {
    color: var(--pf-v5-global--link--Color);
}

/* TOGGLE */
.pf-v5-c-switch__toggle:hover {
    background-color: var(--accent-foreground);
}
.pf-v5-c-switch__input:checked ~ .pf-v5-c-switch__toggle {
    background-color: var(--primary);
}
